<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center;">
    <div>
      <br>
        <br>
          <h1> Welcome to eHealthRecords </h1>
          <p class="lead"> Please login to view your Health Records </p>
          <div class="text-center">
            <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
            <button class="btn btn-info btn-lg">More info</button>
          </div>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
